.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  width: 55vw;
  margin: 10px auto 10px auto;
  border-style: none;
  background-color: #2D6A4F;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #000;
}

.containers_alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 10%;
}

@media screen and (max-width: 720px) {
  .containers {
    width: 98%;
  }
}