.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #74C69D;
  margin: 5px 0 5px 0;
  border-style: none;
  width: 25px;
  height: 25px;
}

.count_alt {
  color: #081C15;
}

.count_bills {
  color: #A9D6E5;
}

.count_alt_bills {
  color: #012A4A;
}

.count_red {
  color: #FF758F;
}

.count_alt_red {
  color: #590D22;
}

@media screen and (max-width: 720px) {
  .count {
    font-size: 3.5vw;
  }
}