main {
  font-family: 'Oxygen', sans-serif;
}

.page__wrapper {
  background-color: #D8F3DC;
}

.page__header {
  text-align: center;
  font-weight: 700;
  margin: 0;
  color: #FFF;
  font-size: 6vw;
}

@media screen and (max-width: 720px) {
  .page__header {
    font-size: 9vw;
    max-width: 75%;
    margin: 0 auto 0 auto;
  }
}